.common-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.common-btn:hover {
  opacity: 0.8;
}

.greet-component {
  text-align: center;
}
